body::before {
    display: block;
    content: "";
    height: 60px;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

#card-style {
    border-radius: 15px;
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.p-bold {
    font-weight: bold;
}